.wbdv-sticky-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: dodgerblue;
}

.wbdv-padding-5px {
    padding: 5px;
}

.wbdv-home {
    box-shadow: grey;
}
.wbdv-sticky-2top {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: lightgrey;
}